### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [254]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [255]:
player_number = purchase_data['SN'].unique()
len(player_number)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [256]:
Item_number = purchase_data['Item Name'].unique()
numbers = len(Item_number)

Average_price = purchase_data['Price'].mean(axis=0)
fave = format(Average_price, '.3')


number_purchase = purchase_data['Purchase ID'].count()


total_rev = purchase_data['Price'].sum()


frame_summary=pd.DataFrame({"Number of Unique Items": numbers, "Average Price": "$" + str(fave), "Number of Purchases": number_purchase, "Total Revenue": "$" +str(total_rev)}, index=[0])
frame_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [257]:
Genderorg = purchase_data['Gender']=="Male"
Males = purchase_data.loc[Genderorg,:]
M=Males['Age'].count()

GenderorgF = purchase_data['Gender']=="Female"
Female = purchase_data.loc[GenderorgF,:]
F=Female['Age'].count()

Genderorgno = purchase_data['Gender']=="Other / Non-Disclosed"
NON = purchase_data.loc[Genderorgno,:]
N=NON['Age'].count()

total=M+F+N

PM = "{:.2%}".format(M/total)
PF = "{:.2%}".format(F/total)
PN = "{:.2%}".format(N/total)

Frame_Gender = pd.DataFrame({"Genders":["Males", "Females", "Other/Non Disclosed"],"Total Count":[M, F, N], "Percentage of Players": [PM.format(), PF, PN]})
print(Frame_Gender)

               Genders  Total Count Percentage of Players
0                Males          652                83.59%
1              Females          113                14.49%
2  Other/Non Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [258]:
Mcount = Males['Purchase ID'].count()
Mavgpur = Males['Price'].mean()
Mpurtot = Males['Price'].sum()
Mavgper = Mpurtot/ Mcount

Fcount = Female['Purchase ID'].count()
Favgpur = Female['Price'].mean()
Fpurtot = Female['Price'].sum()
Favgper = Fpurtot/ Fcount

Ncount = NON['Purchase ID'].count()
Navgpur = NON['Price'].mean()
Npurtot = NON['Price'].sum()
Navgper = Npurtot/ Ncount

Purchasing_Analysis = pd.DataFrame({"Gender": ["Males", "Females", "Other/Non-Disclosed"], "Number of Purchases":[Mcount, Fcount, Ncount],
                                   "Average Purchase Price":[Mavgpur, Favgpur, Navgpur], "Average Purchase per Person": [Mavgper, Favgper, Navgper],
                                   "Total Purchases":[Mpurtot, Fpurtot, Npurtot]})
print(Purchasing_Analysis)

                Gender  Number of Purchases  Average Purchase Price  \
0                Males                  652                3.017853
1              Females                  113                3.203009
2  Other/Non-Disclosed                   15                3.346000

   Average Purchase per Person  Total Purchases
0                     3.017853          1967.64
1                     3.203009           361.94
2                     3.346000            50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [259]:
unique_player=purchase_data[["SN", "Age","Gender","Price"]].copy()
unique_player.drop_duplicates(subset ="SN", 
                     keep = 'first', inplace = True) 

Age_Categories=[0,9,14,19,24,29,34,39,100]
Ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]
unique_player["Age Groups"]=pd.cut(unique_player["Age"], Age_Categories, labels=Ages)

# Calculate the number demographically per count
Age1=unique_player["Age Groups"]=="<10"
Age11 = unique_player.loc[Age1,:]
A1=Age11['Gender'].count()

Age2=unique_player["Age Groups"]=="10-14"
Age22 = unique_player.loc[Age2,:]
A2=Age22['Gender'].count()

Age3=unique_player["Age Groups"]=="15-19"
Age33 = unique_player.loc[Age3,:]
A3=Age33['Gender'].count()

Age4=unique_player["Age Groups"]=="20-24"
Age44 = unique_player.loc[Age4,:]
A4=Age44['Gender'].count()

Age5=unique_player["Age Groups"]=="25-29"
Age55 = unique_player.loc[Age5,:]
A5=Age55['Gender'].count()

Age6=unique_player["Age Groups"]=="30-34"
Age66 = unique_player.loc[Age6,:]
A6=Age66['Gender'].count()

Age7=unique_player["Age Groups"]=="35-39"
Age77 = unique_player.loc[Age7,:]
A7=Age77['Gender'].count()

Age8=unique_player["Age Groups"]=="40+"
Age88 = unique_player.loc[Age8,:]
A8=Age88['Gender'].count()


Total_age=A1+A2+A3+A4+A5+A6+A7+A8

P1 = "{:.2%}".format(A1/Total_age)
P2 = "{:.2%}".format(A2/Total_age)
P3 = "{:.2%}".format(A3/Total_age)
P4 = "{:.2%}".format(A4/Total_age)
P5 = "{:.2%}".format(A5/Total_age)
P6 = "{:.2%}".format(A6/Total_age)
P7 = "{:.2%}".format(A7/Total_age)
P8 = "{:.2%}".format(A8/Total_age)

Age_Demographics_df = pd.DataFrame({"Age Ranges":Ages, "Total Count":[A1,A2,A3,A4,A5,A6,A7,A8], "Percentage of Players":[P1,P2,P3,P4,P5,P6,P7,P8]})
Age_Demographics_df.set_index("Age Ranges")

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [260]:
unique_player=purchase_data[["SN", "Age","Gender","Price"]].copy()


Age_Categories=[0,9,14,19,24,29,34,39,100]
Ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]
unique_player["Age Groups"]=pd.cut(unique_player["Age"], Age_Categories, labels=Ages)

# Calculate the number demographically per count
Age1=unique_player["Age Groups"]=="<10"
Age11 = unique_player.loc[Age1,:]
A1=Age11['Gender'].count()

Age2=unique_player["Age Groups"]=="10-14"
Age22 = unique_player.loc[Age2,:]
A2=Age22['Gender'].count()

Age3=unique_player["Age Groups"]=="15-19"
Age33 = unique_player.loc[Age3,:]
A3=Age33['Gender'].count()

Age4=unique_player["Age Groups"]=="20-24"
Age44 = unique_player.loc[Age4,:]
A4=Age44['Gender'].count()

Age5=unique_player["Age Groups"]=="25-29"
Age55 = unique_player.loc[Age5,:]
A5=Age55['Gender'].count()

Age6=unique_player["Age Groups"]=="30-34"
Age66 = unique_player.loc[Age6,:]
A6=Age66['Gender'].count()

Age7=unique_player["Age Groups"]=="35-39"
Age77 = unique_player.loc[Age7,:]
A7=Age77['Gender'].count()

Age8=unique_player["Age Groups"]=="40+"
Age88 = unique_player.loc[Age8,:]
A8=Age88['Gender'].count()


TPV1=Age11['Price'].sum()
Avgprice1=TPV1/A1
Totpp11 = Age11["SN"].unique()
Totpp1 = TPV1/len(Totpp11)

TPV2=Age22['Price'].sum()
Avgprice2=TPV2/A2
Totpp22 = Age22["SN"].unique()
Totpp2 = TPV2/len(Totpp22)

TPV3=Age33['Price'].sum()
Avgprice3=TPV3/A3
Totpp33 = Age33["SN"].unique()
Totpp3 = TPV3/len(Totpp33)

TPV4=Age44['Price'].sum()
Avgprice4=TPV4/A4
Totpp44 = Age44["SN"].unique()
Totpp4 = TPV4/len(Totpp44)

TPV5=Age55['Price'].sum()
Avgprice5=TPV5/A5
Totpp55 = Age55["SN"].unique()
Totpp5 = TPV5/len(Totpp55)

TPV6=Age66['Price'].sum()
Avgprice6=TPV6/A6
Totpp66 = Age66["SN"].unique()
Totpp6 = TPV6/len(Totpp66)

TPV7=Age77['Price'].sum()
Avgprice7=TPV7/A7
Totpp77 = Age77["SN"].unique()
Totpp7 = TPV7/len(Totpp77)

TPV8=Age88['Price'].sum()
Avgprice8=TPV8/A8
Totpp88 = Age88["SN"].unique()
Totpp8 = TPV8/len(Totpp88)


Age_Demographics_df = pd.DataFrame({"Purchase Count":[A1,A2,A3,A4,A5,A6,A7,A8],
                                   "Average Purchase Price": [Avgprice1, Avgprice2, Avgprice3, Avgprice4, Avgprice5, Avgprice6, Avgprice7, Avgprice8],
                                   "Total Purchase Value": [TPV1, TPV2, TPV3, TPV4, TPV5, TPV6, TPV7, TPV8],
                                   "Avg Total Purchase per Person": [Totpp1, Totpp2, Totpp3, Totpp4, Totpp5, Totpp6, Totpp7, Totpp8]}, index=Ages)

Age_Demographics_df.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value":"${:.2f}", "Avg Total Purchase per Person":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [385]:
Biggest_Spender=purchase_data[["SN", "Price"]].copy()
Biggest_Spender = Biggest_Spender.groupby(["SN"]).sum()
Biggest_Spender = Biggest_Spender.sort_values(by=['Price'], ascending=False)
Biggest_Spender
#

BSCount=purchase_data[["SN", "Price"]].copy()
BSCount1 = BSCount.rename(columns={'Price': 'Price_Count'})
BSCount1 = BSCount1.groupby(["SN"]).count()
BSCount1

merge_df=pd.merge(Biggest_Spender, BSCount1, on="SN")
merge_df['Average Purchase Price'] = merge_df.Price/merge_df.Price_Count
merge_df=merge_df[["Price_Count", "Average Purchase Price", "Price"]]
merge_df=merge_df.rename(columns={"Price_Count":"Purchase Count"})
merge_df=merge_df.head()
merge_df.style.format({"Average Purchase Price": "${:.2f}", "Price":"${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [401]:
OG_Item=purchase_data[["Item ID", "Item Name", "Price",]].copy()

#Calculate Sum
Pop_item = OG_Item.groupby(["Item ID","Item Name"]).sum()
Pop_item = Pop_item.sort_values(by=['Price'], ascending=False)
Pop_item

#Calculate Count
Pop_Count = OG_Item.groupby(["Item ID", "Item Name"]).count()
Pop_Count = Pop_Count.sort_values(by=['Price'], ascending=False)
Pop_Count = Pop_Count.rename(columns={"Price":"Count"})


#Additional Data frame for Item names
Names=OG_Item[["Item ID", "Item Name"]].copy()
Names.drop_duplicates(subset ="Item ID", 
                     keep = 'first', inplace = True) 

#merge sum and count
merge_item_df=pd.merge(Pop_item, Pop_Count, on="Item ID", how = "right")

#merge item names
merge_item_df=pd.merge(merge_item_df, Names, on="Item ID", how = "left")

#Sort total purchase count in descending
merge_item_df = merge_item_df.sort_values(by=['Count'], ascending=False)

#Calculate item price per item purchased
merge_item_df['Item Price'] = merge_item_df.Price/merge_item_df.Count

#reorder columns
merge_item_df=merge_item_df[["Item ID", "Item Name", "Count","Item Price","Price"]]

#reset index to Item ID
merge_item_df=merge_item_df.set_index("Item ID")

#rename columns as needed
merge_item_df=merge_item_df.rename(columns={"Count":"Purchase Count","Price":"Total Purchase Value"})

#Only show first 5 rows
merge_item_df3=merge_item_df.head(6)

#format prices to include $ and only show 2 decimals
merge_item_df3.style.format({"Item Price": "${:.2f}", "Total Purchase Value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [403]:
#Sort total purchase count in descending
merge_item_df2 = merge_item_df.sort_values(by=['Total Purchase Value'], ascending=False)



#Only show first 5 rows
merge_item_df2=merge_item_df2.head()

#format prices to include $ and only show 2 decimals
merge_item_df2.style.format({"Item Price": "${:.2f}", "Total Purchase Value":"${:.2f}"})